        table td {

  vertical-align: middle;
}

body{
      font-family: "Palatino Linotype", Palatino, serif;
}

.btn-outline-success {
    color: #8AB5BF;
    background-color: #000000;
    background-image: none;
    border-color: #000000;
}

.nav img{
        margin-top: 10px;
}

nav{
 background: #FF2800 ;

}
.navbar-container {
       display: flex;
        justify-content: center;
    }
    
a.navbar-brand{
        color:#D5E7F2;  
        font-family: "Quaternary Font";
}

.btn-outline-success {
    color: #3F61A6;
    background-color: transparent;
    background-image: none;
    border-color: #3F61A6;
}
p.lead{
       font-family:"FOT-スキップ Std B", SkipStd-B;
        background-color: #D5E7F2;
}
a{
    color:#ffffff;

}
a.navbar-brand{
    color:#ffffff;
}
